@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Zen+Kaku+Gothic+Antique&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


.header:has(> :only-child) {
    @apply justify-center;
}

.header:has(> :nth-child(2)) {
    @apply justify-between;
}

.hide-scrollbar {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.sleek-scrollbar {
    scrollbar-width: thin;
    /* Firefox */
    scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
    /* Firefox */

    /* For WebKit browsers */
}

.sleek-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.sleek-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.sleek-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 4px;
    border: 1px solid transparent;
    /* optional, for smooth edge */
}